{:paths ["src/clj" "src/java" "target/classes"]

 :deps {;; Anomaly - standardized error categories
        com.blockether/anomaly    {:mvn/version "1.0.1"}
        ;; HTTP client
        org.babashka/http-client  {:mvn/version "0.4.23"}
        ;; JSON parsing
        com.cnuernber/charred     {:mvn/version "1.038"}
        ;; Structured logging
        com.taoensso/trove        {:mvn/version "1.1.0"}
        ;; Token counting (OpenAI compatible)
        com.knuddels/jtokkit      {:mvn/version "1.1.0"}
        ;; Core.async - parallel LLM calls (llm batching)
        org.clojure/core.async    {:mvn/version "1.9.865"}
        ;; lazytest - testing framework
        io.github.noahtheduke/lazytest {:mvn/version "1.9.1"}}

 :aliases
 {:dev {:extra-paths ["test"]
        :extra-deps {io.github.noahtheduke/lazytest {:mvn/version "1.9.1"}}}

  :test {:extra-paths ["test"]
         :extra-deps {io.github.noahtheduke/lazytest {:mvn/version "1.9.1"}}
         :main-opts ["-m" "lazytest.main"]}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.13"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}

  :allure {:extra-paths ["test"]
           :extra-deps {io.github.noahtheduke/lazytest {:mvn/version "1.9.1"}}}

  :antq {:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
         :main-opts ["-m" "antq.core"]}

  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :artifact "target/svar.jar"}}}}
