{:file-path "/root/.openclaw/workspace/svar/resources-test/example.pdf", :file-hash "sha256:c7ff6c55e1f2b3fb6e364e4e4e20b325610b041593f160fab04eebc61ae122ea", :total-pages 1, :model "default", :started-at "2026-04-02T19:34:17.229891134Z", :completed-at "2026-04-02T19:34:17.237034073Z", :errors-count 1, :pages {0 {:status :error, :updated-at "2026-04-02T19:34:17.235597251Z", :error "Missing required :content-type option for string input", :elapsed-ms 2}}}